<form action="partials/_update.php" class="space-y-4" method="post">
    <div>
        <label for="work-edit-id-' . $work_id . '" class="block mb-2 text-sm font-medium text-white">Your
            Work Id</label>
        <input type="text" id="work-edit-id-' . $work_id . '" name="work-edit-id-' . $work_id . '"
            value="#' . $work_id . '"
            class="border text-sm rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white"
            readonly>
    </div>
    <div>
        <label for="work-edit-title-' . $work_id . '" class="block mb-2 text-sm font-medium text-white">Your
            Work Title</label>
        <input type="text" id="work-edit-title-' . $work_id . '" name="work-edit-title-' . $work_id . '"
            value="' . $title . '"
            class="border text-sm rounded-lg  focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white">
    </div>
    <div>
        <label for="work-edit-desc-' . $work_id . '" class="block mb-2 text-sm font-medium text-white">Your
            Work Desc</label>
        <textarea id="work-edit-desc-' . $work_id . '" name="work-edit-desc-' . $work_id . '" rows="5"
            class="border text-sm rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white hide-scrollbar resize-none">' . $desc . '</textarea>
    </div>
    <div>
        <label for="work-time-' . $work_id . '" class="block mb-2 text-sm font-medium text-white">Your
            Work Time</label>
        <input type="datetime-local" value="' . $time . '" id="work-time-' . $work_id . '"
            name="work-time-' . $work_id . '"
            class="border text-sm rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white">
    </div>
    <button type="submit"
        class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Update</button>
</form>