<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../side/style.css">

</head>

<body>

    <!--table section-->
    <div class="">

        <!-- search and select -->
        <form action="" class="bg-gray-800 py-4 px-4 grid grid-cols-2 gap-4">
            <select name="num" id="num" class="text-white bg-gray-700 px-1.5 py-1.5 outline-none">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
            <div class="search grid grid-cols-[1fr_40px] gap-[2px]">
                <input type="search" name="q" id="q" class="w-full text-white bg-gray-700 px-3 py-1.5 outline-none"
                    placeholder="Search">
                <button type="submit" class="bg-gray-700 hover:bg-gray-600">
                    <img src="../images/search.png" class="p-2 invert" alt="">
                </button>
            </div>
        </form>

        <!-- table -->
        <table class="w-full">
            <thead class="uppercase text-xs bg-gray-700 text-gray-400 text-left">
                <tr>
                    <th scope="col" class="px-6 py-3">Id</th>
                    <th scope="col" class="px-6 py-3">Title</th>
                    <th scope="col" class="px-6 py-3">Time</th>
                    <th scope="col" class="px-4 py-3 sm:min-w-48">Function</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-800 border-gray-700 text-white border-b">
                    <td class="px-6 py-4">1</td>
                    <!--max 150-->
                    <td class="py-4">Complete the project of meraki! As soon as possible so that You improve. Put back end, add funtionablity in your project.</td>
                    <td class="px-3 py-4">12/12/12</td>
                    <td class="py-4 grid grid-cols-1 gap-1 sm:flex">
                        <div class="w-fit">
                            <button href="" class="rounded-md bg-blue-500 hover:bg-blue-600 p-2">
                                <img class="invert w-6" src="../images/detail.png" alt="detail">
                            </button>
                            <button href="" class="rounded-md bg-yellow-500 hover:bg-yellow-600 p-2">
                                <img class="invert w-6" src="../images/edit.png" alt="edit">
                            </button>
                        </div>
                        <div class="w-fit">
                            <button href="" class="rounded-md bg-green-600 hover:bg-green-700 p-2">
                                <img class="invert w-6" src="../images/finish.png" alt="finish">
                            </button>
                            <button href="" class="rounded-md bg-red-600 hover:bg-red-700 p-2">
                                <img class="invert w-6" src="../images/delete.png" alt="delete">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- pagination -->
        <nav class="bg-gray-800 py-5 px-4 text-gray-400">
            <ul class="flex flex-row items-center justify-center space-x-[1px]">
                <li>
                    <a href=""
                        class="bg-gray-700 px-4 py-3 rounded-l-md hover:bg-gray-600 hover:text-white">Previous</a>
                </li>
                <li>
                    <a href="" class="bg-gray-700 px-4 py-3 hover:bg-gray-600 hover:text-white">1</a>
                </li>
                <li>
                    <a href="" class="bg-gray-700 px-4 py-3 hover:bg-gray-600 hover:text-white">2</a>
                </li>
                <li>
                    <a href="" class="bg-gray-700 px-4 py-3 hover:bg-gray-600 hover:text-white">3</a>
                </li>
                <li>
                    <a href="" class="bg-gray-700 px-4 py-3 rounded-r-md hover:bg-gray-600 hover:text-white">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <script>
        //send data to main page about height of form
        const height = document.body.scrollHeight;
        const iframeId = '_table';
        window.parent.postMessage({ height: height, iframeId: iframeId }, '*');
    </script>
    
</body>

</html>