@tailwind base;
@tailwind components;
@tailwind utilities;

.calender::-webkit-calendar-picker-indicator {
    @apply cursor-pointer p-1 rounded border-none bg-gray-300;
}

.hide-cal::-webkit-calendar-picker-indicator {
    @apply hidden;
}

.hide-scrollbar::-webkit-scrollbar {
    height: 0.25em;
    width: 4px;
    background-color: #e8e8e8;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(24, 33, 44);
}

.fixed {
    position: fixed;
}

.bg-gray-900\/50 {
    background-color: rgb(17 24 39 / 0.5);
}

.z-40 {
    z-index: 40;
}

.inset-0 {
    inset: 0px;
}

.search::-webkit-search-cancel-button {
    opacity: 0;
    pointer-events: none;
}

.spin-slow {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}